@model AttractionDto;
@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "Atrações";
}

<section class="main__cities">
    <div class="cities__container">
        <div class="cities__buttons">
            <button id="btn-all" class="cities__button-all btn-lg btn-filter" onclick="filter('all')">
                Ver Todos
            </button>

            @foreach (var city in Model.Cities)
            {
                <button id="btn-@city.NameFilter.ToLower()" class="cities__button btn-sm btn-filter" onclick="filter('@city.NameFilter.ToLower()')">
                    @city.Name
                </button>
            }
        </div>
    </div>
</section>

<section class="main__attractions">
    <div class="attractions__container">
        <ul class="attractions__list">
            @foreach(var attraction in Model.Attractions){
                <div class="attractions__content">
                    <li class="attractions__item @string.Join(' ', attraction.CityFilter).ToLower()" onclick="GetInfo('@attraction.Name')">
                        @foreach(var image in attraction.Image){
                            <img class="attractions__image" src="@image" alt="@attraction.Name">
                        }

                        <div class="attractions__infos">
                            <h2 class="attractions__name">@attraction.Name</h2>
                            <h3 class="attractions__city">@attraction.City</h3>
                        </div>
                    </li>
                </div>
            }
        </ul>
    </div>
</section>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/filter.js"></script>
    <script>
        let toFilter = '@Html.Raw(ViewData["Filter"])';
        filter(toFilter);
        function GetInfo(name) {
            window.location = '@Url.Action("AttractionsDetails", "Home")' + '?Name=' + name;
        }
    </script>
}
