@model AttractionDetailsDto;
@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = @Model.Current.Name;
}

<section class="main__details">
    <div class="details__container container">
        <div class="details__header">
            <div class="details__buttons">
                @if (Model.Prior != null)
                {
                    <a asp-action="AttractionsDetails" asp-route-Name="@Model.Prior.Name" class="details__link">
                        ◀
                    </a>
                }
            </div>

            <h1 class="details__name-city">@Model.Current.Name</h1>

            <div class="details__buttons">
                @if (Model.Next != null)
                {
                    <a asp-action="AttractionsDetails" asp-route-Name="@Model.Next.Name" class="details__link">
                        ▶
                    </a>
                }
            </div>
        </div>

        <div class="details__body">
            <img class="details__image" src="@Model.Current.Image[0]" alt="@Model.Current.Name">
            <p class="details__description">@Model.Current.Description</p>
            <p class="details__city"><strong>Cidade: </strong>@Model.Current.City</p>

            <a href="#map" id="btnOpenMap" class="details__btn-map">Abrir mapa</a>
            <div id="map" class="city-map">
                <iframe class="city-map__map" src="@Model.Current.Localization" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>

                <button id="btnCloseMap" class="city-map__btn">Fechar mapa</button>
            </div>

            <a class="details__back" asp-action="Attractions">◀ Voltar às atrações</a>
        </div>
    </div>
</section>

<script src="~/js/openMap.js"></script>
