@model AttractionDto;
@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "Atrações";
}

<section id="home" class="main__cities">
    <div class="cities__container container">
        <button id="carouselF-prev" onclick="direcao(1)">◀</button>

        <div id="carouselFilter" class="cities__buttons">
                <button id="btn-all" class="cities__button cities__button--filter cities__button--active btn-lg" onclick="filter('all')">
                    Ver Todos
                </button>

                @foreach (var city in Model.Cities)
                {
                    <button id="btn-@city.NameFilter.ToLower()" class="cities__button cities__button--filter btn-sm" onclick="filter('@city.NameFilter.ToLower()')">
                        @city.Name
                    </button>
                }
        </div>

        <button id="carouselF-next" onclick="direcao(2)">▶</button>
    </div>
</section>

<section class="main__attractions">
    <div class="attractions__container container">
        <ul class="attractions__list">
            @foreach(var attraction in Model.Attractions){
                <div class="attractions__content">
                    <li class="attractions__item @string.Join(' ', attraction.CityFilter).ToLower()" onclick="GetInfo('@attraction.Name')">
                        @foreach(var image in attraction.Image){
                            <img class="attractions__image" src="@image" alt="@attraction.Name">
                        }

                        <div class="attractions__infos">
                            <h2 class="attractions__name">@attraction.Name</h2>
                            <h3 class="attractions__city">@attraction.City</h3>
                        </div>
                    </li>
                </div>
            }
        </ul>
    </div>
</section>

<a id="backToTopButton" href="#home">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="20" fill="#00B4D8"/>
        <path d="M20 27V13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13 20L20 13L27 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</a>

@section Scripts{
    <script src="~/js/filter.js"></script>
    <script src="~/js/carouselFilter.js"></script>
    <script>
        let toFilter = '@Html.Raw(ViewData["Filter"])';
        filter(toFilter);
        function GetInfo(name) {
            window.location = '@Url.Action("AttractionsDetails", "Home")' + '?Name=' + name;
        }
    </script>
}
