@model CityDto;
@inject MyDestiny.Services.IDestinyService service;

@{
    ViewData["Title"] = "Home";
}

<section class="main__banner">
    <div class="banner__container">

    </div>
</section>

<section class="main__cities">
    <div class="cities__container container">
        <h1 class="cities__title">Cidades da Região de Bauru-SP</h1>

        <ul class="cities__list">
            @foreach(var city in Model.Cities){
                <li class="cities__item" onclick="GetInfo('@city.Name')">
                    <img class="image" src="@city.Image" alt="@city.Name">
                    <h2 class="cities__name">@city.Name</h2>
                </li>
            }
        </ul>
    </div>
</section>

@section Scripts{
    <script>
        function GetInfo(name) {
            window.location = '@Url.Action("CitiesDetails", "Home")' + '?Name=' + name;
        }
    </script>
}